body {
    width: 600px;
    margin: auto;
    font-family: sans-serif;
}

input {
    display: block;
}

#close {
    margin: 8px 0 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .btns {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-self: center;
}

.header .btns button {
    height: fit-content;
}

.board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.board button {
    outline: none;
    cursor: pointer;
    height: 150px;
    background-color: lightgrey;
    font-size: 54px;
    font-weight: lighter;
    border: 1px solid black;
}

.board button:hover {
    animation: ease-in-out 1s;
    background-color: darkgrey;
}